@import "tailwindcss";

/* 整个页面锁死 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
<<<<<<< HEAD
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
}

#homeCanvas {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}
=======
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* 居中容器 */
.scene-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

/* 画布 */
.scene {
  position: relative;
  height: 100vh;
  aspect-ratio: 16 / 9;
  max-width: 100vw;
}

/* 背景图 */
.scene-img {
  object-fit: contain;
}

/* 热点 */
.hotspot {
  position: absolute;
  width: 17%;
  height: 70%;
  /* background: rgba(255, 0, 0, 0.3); */
  /* border: none; */
  cursor: pointer;
  transition: 0.2s;
}

/* .hotspot:hover {
  background: rgba(255, 0, 0, 0.6);
} */
>>>>>>> 8e769530fbb8274addf6c2c402a4bd053b382b04
